#single-comment {
  background-color: #f0f0f0;
  border-radius: 12px;
  p.commentator {
    margin-left: 12px;
    margin-bottom: 0;
    font-weight: bold;
  }
  p.comment {
    margin-left: 5%;
  }
}

#comment {
  background-color: $text-backgrund-hover;
  resize: none;
}
