.navbar-header {
  background-color: #fff;
  min-width: 100%;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 60px;
}

.navbar {
  background-color: inherit !important;
}

.nav-wrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 6px;
}

.navbar__right-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  &-icons {
    margin-right: 20px;
    i {
      margin: 4px;
      color: gray;
    }
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

#login-btn {
  color: gray;
}

.menu-arrow {
  color: gray;
  margin-left: 20px;
}

.guest,
.user {
  display: flex;
  flex-flow: row wrap;
}

.user.drawer {
  flex-flow: column wrap;
}

.guest {
  justify-content: center;
  align-items: center;
}

.navbar-link-mobile {
  @media screen and (min-width: 1000px) {
    display: none !important;
  }
  text-align: center;
  display: block;
}
