$text-color: #000000;
$text-normal: #999999;
$text-light: #e5e5e5;
$text-background: rgba(0, 0, 0, 0.06);
$text-backgrund-hover: rgba(0, 0, 0, 0.1);
$text-backgrund-active: rgba(0, 0, 0, 0.12);
$text-foreground: #ffffff;
$text-foreground-hover: rgba(0, 0, 0, 0.06);
$text-foreground-active: rgba(0, 0, 0, 0.1);
$primary: #0077ff;
$primary-hover: #006ce6;
$primray-active: #005fcc;
$primary-focus: #0077ff;
$secondary: #f4f4f4;
$secondary-hover: #cecece;
$secondary-active: #b7b7b7;
$secondary-disabled: rgba(229, 229, 229, 0.4);
$secondary-focus: #e5e5e5;
$danger: #ff3b30;
$danger-hover: #ff6852;
$danger-active: #ff5a41;
$danger-disabled: rgba(255, 59, 48, 0.2);
$danger-focus: #ff3b30;
$common-white: #ffffff;
$common-black: #000000;
$box-shadow-normal: rgba(0, 0, 0, 0.25);
$base-red: #ff3b30;
$base-white20: rgba(255, 255, 255, 0.2);
$overlay: rgba(0, 0, 0, 0.6);
$border-line: rgba(0, 0, 0, 0.2);
